body {
    background-color: beige;
}

a {
    background: #feffe8;
    /* Old browsers */
    background: linear-gradient(to bottom, #feffe8 0%, #ffce96 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    display: block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(235, 174, 61);
    border: rgb(147, 188, 143) 5px dashed;
    border-radius: 30px 12px / 26px;
}

a:hover {
    background-color:rgb(96, 81, 81);
    color: rgb(204, 230, 202);
    border: rgb(235, 174, 61) 5px dashed;

}