<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/first_page.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <h1><img src="./title.png" alt=""></h1>
        <p><a href="{{url_for('/')}}">another page</a></p>
        <p><a href="#">FLASH</a></p>
        <p><a href="#">PHOTOSHOP</a></p>
        <p><a href="#">ILLUSTRATOR</a></p>
        <p><a href="#">ACTIONSCRIPT</a></p>
    </div>
</body>
</html>